*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  padding:1.5em;
  background-color: rgb(34, 52, 70);
}

header, h2 {
  text-align: center;
  color: bisque;
}

h1 {
  font-size: 2em;
  margin: .4em 0;
}

.info-bar {
  font-size: .9em;
  color: rgb(230, 149, 51);
}

main > p , ul> li {
  color: rgb(230, 149, 51);
  text-align: center;
  margin: 1.2em ;
}

main {
  padding: 1.2em 1.2em;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 20px; */
}

img#profilePicture {
  display: block;
  margin: 0 auto;
}

#slackEmail{
  color: #007bff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 1.5em;
  }

  main {
    flex-direction: column;
  }

  img#profilePicture {
    margin-bottom: 10px;
  }
}